body {
    margin: 0;
    padding: 0;
    background-color: #4a76a8;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: #fff;
    text-align: center;
    font-family: Ubuntu, Arial;
}

.score__wrapper {
    font-size: 24px;
}

#canvas {
    background-color: #fff;
    border-radius: 5px;
}